* {
  margin:  0;
  padding:  0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Baskerville';
}

@media screen and (max-width: 992px) {

    .logo {
    display: none;

    }
}


 .logo {
    
    height: 10%;
    width: 10%;
    margin-top: 0rem;
    margin-right: 50%;
    margin-left: 25%;
    

  }

.shopbag {
  height: 20%;
  width: 20%;
  margin-top: 0rem;
  float:right;

}

.banner {

  align-self: center;
  background-color: #242f41;
  width: 100%;
  text-align: left;
  color: white;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}


.tagline{

  padding: 1rem;
  margin-top: 3rem;
  margin-left: 7rem;
  font-size: 1rem;
  font-style: italic;
}


#bannerbtn {
  
  height: 5%;
  width: 10%;
  margin-left: 25%;
  margin-top: 2%;
  
}

.merqatobanner {
  height: 25%;
  width: 25%;
  padding: 0.5rem;
  margin-left: 5%;
}

.cardProducts {
  margin-bottom: 25%;
  box-shadow:15px 15px 30px rgb(0 0 0 / 0.8);
}

.prodcontainer{
  margin-top: 5%;
  margin-bottom: 5%;

}

.prodesc {
  text-align: left;
  margin-left: 5%;
}

.prodesbody {
  margin: 5%;
  text-align: justify;
  text-justify: inter-word;

}

.checkoutcard {
  box-shadow:15px 15px 30px rgb(0 0 0 / 0.8);
  padding-bottom: 10rem;
}

#detailsbtn {
  padding: 0.5rem;
  margin-left: 20%;
}



#regform {

background-color: rgba(0,0,0,0.8);
border-radius: 25px;
margin: auto;
color: white;
padding: 1rem;
margin-top: 1rem;
margin-bottom: 5rem;
box-shadow:15px 15px 30px rgb(0 0 0 / 0.8);
}

#submitBtn{
margin: auto;
margin-top: 1rem;
color: white;

}

.admintable {
width: 100%;
height: 2vh;  
margin-top: 1rem;
justify-content: center;
align-items: center;

}

#adminupdatebtn {
  width: 5rem;
  height: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;


}

table {
  
  width: 800px;
  height: 200px;
}

td {
  text-align: center;
}
.admindash {
  text-align: center;
  padding: 2rem;
  background-color: #4D648D;
  width: 100%;
  border: 1px solid black;
  color: white;
  text-shadow:5px 5px 5px rgb(0 0 0 / 0.5);
}

.actions {
  text-align: center;  
}


.rapp {
  z-index: 2;
}

.himages {
  height: 100%;
  width: 100%;
  box-shadow:15px 15px 30px rgb(0 0 0 / 0.8);
  padding: 0.5rem;
}

.prodimages {

  height: 100%;
  width: 100%;
  padding: 0.5rem;
}

.prodimages:hover {
  transform: scale(1.3);
  transition: all 400ms;
}

.productlayout {

  justify-content: center;
  display: flex;  
  flex-wrap: wrap;

}

.prodrow {
  

 width: 25%;
 padding-top: 3rem;
 padding-left: 1rem;
 padding-right: 1rem;


}

.description {
  box-shadow:15px 15px 30px rgb(0 0 0 / 0.8);
}

h2 {
    text-shadow:5px 5px 5px rgb(0 0 0 / 0.5);
    text-align: center;
    padding: 0.5rem;

}

.loading {
margin-top: auto;
}

#confirmbuttons {
  text-align: center;
  padding: 1rem;
}

#editproductbuttons{

color: white;
margin-top: 0.5rem;
margin-bottom: 0.5rem;
font-size: 0.7rem;
background-color: #3D72A4;


}

.btn1{
  display: inline-block;
  color: white;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 8rem;
  font-size: 0.7rem; 
  overflow: hidden; 

}

.btn1.statutsbutton1::after {
  content: "Deactivate";
}
.buttons-container {
    text-align: center;
}

.btn {
    display: inline-block;
    background: #e63946;
    align-content: center;
    text-decoration: none;
    width: 160px;
    height: 42px;
    margin: 24px 0;
    border-radius: 10px;
    overflow: hidden;

    box-shadow: inset 0 4px 15px rgba(0, 0, 0, 0.2);
    position: relative;
}

.btn.test-completed::after,
.btn.test-completed::before {
    content: "Deactivate";
    position: absolute;
    text-align: center;
    margin-left: -5rem;
    width: 100%;
    font-family: "Roboto", sans-serif;
    color: red;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.5;
    transition: all 400ms;
    top: 0;
}

.btn.btn.test-completed:hover::after {

    top: -36px;
}

.btn.test-completed::before {
    content: "Are you sure?";
    
    top: 36px;
}

.btn.btn.test-completed:hover::before {
    top: 0;
}



.statusbutton{
  color: white;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 8rem;
  
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  

}


#activecolor {
  color: darkcyan;
  text-align: center;
  font-weight: bold;
}

#inactivecolor {
  color: red;
  text-align: center;
  font-weight: bold;
}



.footer{
  margin-top: 0rem;
  padding: 0.5rem;
  background-color: black;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5%;
  color: white;
  text-align: center;
  font-size: 0.8rem;
}